.inputWrap {
  position: relative;
}

:local .input {
  composes: text from global;
  position: relative;
  background: #2f2f37;
  border-radius: 20px;
  width: 540px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  margin-top: 4px;
  color: var(--text-primary-color);
}

:local .input::placeholder {
  color: var(--text-secondary-color);
}

:local .input:focus {
  outline: none;
}

:local .icon {
  position: absolute;
  right: 12px;
  top: -1px;
}

.icon :hover {
  cursor: pointer;
}
