.inputWrap {
  position: relative;
  display: flex;
  align-items: center;
}

:local .input {
  composes: text from global;
  background: #2f2f37;
  border-radius: 20px;
  width: 540px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  color: var(--text-primary-color);
}

:local .input::placeholder {
  color: var(--text-secondary-color);
}

:local .input:focus {
  outline: none;
}

:local .icon {
  position: absolute;
  display: flex;
  right: 18px;
  align-items: center;
}

:local .input__error {
  border: 2px solid #F20D33;
}

.icon :hover {
  cursor: pointer;
}
