.banner {
    display: flex;
    box-shadow: inset 0px -1px 0px #2F2F37;
    justify-content: center;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

:local .title {
    composes: H2 from global;
    color: var(--text-primary-color);
    margin-bottom: 16px;
}

:local .commentTitle {
    composes: headline from global;
    color: var(--text-primary-color);
}

.articlePage {
    box-sizing: border-box;
}

.article {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

:local .articleText {
    composes: text from global;
    color: var(--text-primary-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.rowComments {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tags {
    display: inline-block;
    list-style: none !important;
    margin-left: auto;
}

:local .tag {
    compses: caption from global;
    color: var(--text-primary-color);
    border: none;
    background: 0 0 !important;
}

.like {
    display: flex;
}

.likes {
    color: var(--text-primary-color);
    margin-right: 10px;
}

.liked {
    color: var(--text-alert-color);
}