.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;
}

:local .tag {
    composes: caption from global;
    color: var(--text-primary-color);
    background: var(--input-color);
    border-radius: 100px;
    text-decoration: none;
}

.tag:focus,
.tag:hover {
    text-decoration: none;
    background: var(--accent-color);
    color: var(--text-primary-color);
}

:local .tagActiv {
    composes: caption from global;
    background: var(--accent-color);
    color: var(--text-primary-color);
    border-radius: 100px;
}

:local .tagPassive {
    composes: caption from global;
    color: var(--text-primary-color);
    background: var(--input-color);
    border-radius: 100px;
}