:local .input__title {
  composes: text from global;
  color: var(--text-primary-color);
  margin-bottom: 0;
  padding-left: 16px;
}

:local .input__item {
  position: relative;
}

:local .input__icon {
  display: flex;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

:local .link {
  composes: text from global;
  color: #4c4cff;
}

:local .link:hover {
  opacity: 0.8;
  color: #4c4cff;
}

:local .link:active {
  opacity: 0.75;
  color: #4c4cff;
}
