.articleMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articlePreview {
    border-top: 1px solid var(--input-color);
    border-bottom: 1px solid var(--input-color);
}

:local .title {
    composes: headline from global;
}

:local .text {
    composes: text from global;
}

:local .more {
    composes: text-link from global;
    color: var(--accent-color);
    text-decoration: none;
    white-space: nowrap;
}

:local .like {
    composes: text from global;
    background: transparent;
    display: flex;
    border: unset;
}

:local .like span {
    margin-right: 8px;
}

:local .like.active {
    color: var(--text-warning-color);
}

:local .like.inactive {
    color: var(--text-primary-color);
}

.more:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}