@import url("./box.css");

:root {
  --offset-base-size: 4px;
  --text-primary-color: #f2f2f3;
  --text-secondary-color: #8585ad;
  --background: #131316;
  --background-secondary: #1C1C21;
  --common-transition: all 0.3s ease-in;
  --input-color: #2F2F37;
  --accent-color: #4C4CFF;
}

body {
  color: var(--text-primary-color);
  background: var(--background);
}

/* Typography classes */

.text-link {
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--text-secondary-color);
}

.caption {
  font-family: "Jet Brains Mono";
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.H1 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: var(--text-secondary-color);
}

.H2 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: var(--text-secondary-color);
}

.headline {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-primary-color);
}

.headline:hover,
.headline:focus {
  text-decoration: none;
  color: var(--text-primary-color);
}

.text {
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 24px;
  color: var(--text-secondary-color);
}
