.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 576px;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    width: 540px;
}

:local .title {
    composes: headline from global;
    text-align: center !important;
}

:local .exit {
    composes: text from global;
    text-align: center !important;
    color: var(--text-warning-color);
    cursor: pointer;
    border: none;
    background: none;
}

.line {
    color: var(--input-color);
    border: 0;
    border-top: 1px solid var(--input-color);
    width: 100%;
}

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col {
        position: relative;
        min-height: 1px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}