.formGroup {
    border: 0;
    padding-inline: 0;
    margin-inline: 0;
    padding-block: 0;
}

:local .placeholder {
    composes: text from global;
    text-align: center !important;
    color: var(--text-primary-color);
}

.textarea {
    resize: none;
}